<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.everyparking.user.api.mypage.dao.ReviewDao">
    <sql id="reservationInfo">
        select prsp.USE_YN
             , prsp.RESE_SEQ
             , prsp.SEC_SEQ
             , prsp.USER_SEQ
             , prsp.RESE_CALL_NUM
             , prsp.RESE_PRICE
             , prsp.RESE_START
             , prsp.RESE_END
             , prsp.REG_DATE
             , prsp.MOD_SEQ
             , prsp.MOD_DATE
             , prsp.NOTE
             , prsp.PARK_NAME
             , prsp.PARK_ADDR1
             , prsp.RESE_CAR_NO
             , prsp.SUB_NAME as RESE_STATE
             , prsp.REV_SEQ
             , pc.SUB_NAME as SEC_TYPE
        FROM (select prs.*, pp.PARK_NAME, pp.PARK_ADDR1
              from (SELECT pr.*, ps.PARK_SEQ, ps.SEC_TYPE
                    FROM (select prt.*, pri.REV_SEQ
                          from (SELECT prs.*, psub.SUB_NAME
                                FROM p_reservation as prs
                                JOIN p_subcode as psub
                                ON RESE_STATE = SUB_CODE) as prt
                          left join p_review pri
                          on prt.RESE_SEQ = pri.RESE_SEQ) pr
                    INNER JOIN p_section ps
                    ON pr.SEC_SEQ = ps.SEC_SEQ) AS prs
              JOIN p_parkinginfo AS pp
              ON prs.PARK_SEQ = pp.PARK_SEQ) AS prsp
        JOIN p_subcode AS pc
        ON prsp.SEC_TYPE = pc.SUB_CODE
        WHERE 1=1
        AND USE_YN = 'Y'
    </sql>
    <select id="getReservationList" parameterType="hashMap" resultType="hashMap">
        <include refid="reservationInfo"></include>
        <if test='PAST_DAY = null and PAST_DAY.equals("")'>
        <![CDATA[AND RESE_END < STR_TO_DATE(#{PAST_DAY}, '%Y-%m-%d')]]>
        </if>
        <if test='TODAY = null and TODAY.equals("")'>
        AND RESE_START > STR_TO_DATE(#{TODAY}, '%Y-%m-%d')
        </if>
        AND prsp.USER_SEQ = #{USER_SEQ}
    </select>

    <select id="getReservationInfo" parameterType="hashMap" resultType="hashMap">
        <include refid="reservationInfo"></include>
        AND prsp.RESE_SEQ = #{RESE_SEQ}
    </select>

    <insert id="insertReview" parameterType="hashMap">
        insert into p_review(
        RESE_SEQ
        , REV_STAR
        , REV_CONT
        , REG_SEQ
        , REG_DATE
        , NOTE
        )
        values (
        #{RESE_SEQ}
       , #{REV_STAR}
       , #{REV_CONT}
       , #{REG_SEQ}
       , sysdate()
       , #{NOTE}
        )
    </insert>

    <update id="updateReview" parameterType="hashMap">
        update p_review set
            RESE_SEQ = #{RESE_SEQ}
        , REV_STAR = #{REV_STAR}
        , REV_CONT = #{REV_CONT}
        , MOD_SEQ = #{MOD_SEQ}
        , MOD_DATE = sysdate()
        , NOTE = #{NOTE}
        WHERE REV_SEQ = #{REV_SEQ}
    </update>

    <update id="deleteReview" parameterType="hashMap">
        UPDATE p_review SET
            USE_YN = 'N'
            , MOD_SEQ = #{MOD_SEQ}
            , MOD_DATE = sysdate()
        WHERE REV_SEQ = #{REV_SEQ}
    </update>
</mapper>