
body, html {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    color: black;
    text-decoration-line: none;
}
.backgroundColorwhite {
    background-color: white;
    border-radius: 16px;
    
}

.adminBorder {
    border: solid 1px rgb(190, 190, 190);
    border-bottom: solid 0px;
    border-radius: 16px;
}
.borderBottom {
    border-bottom: solid 1px rgb(190, 190, 190);
    font-size: 1.1rem;
    color: #6c7e85;
}

.borderBottom a {
    color: #6c7e85;
}
.bodyBox {
    width: 1200px; 
    margin: auto;
}
.verticalMiddle {
    vertical-align: middle;
}
input textarea{
	border-color: lightgray;
    border: solid 1px #ced4da;
    border-bottom: solid 1px #ced4da;
    border-radius: 0.25rem;
    font-size: 15px;
}

textarea{resize:none;}

.daterangepicker select.secondselect, .daterangepicker select.ampmselect{
    display: none;
}
.inputPlusSelectBox{
    color: rgb(94, 94, 94);
    font-size: 15px;
}

body{background-color: #e0e0e0;}

body>div.mb-5{
    margin: auto;
}

.ck-editor__editable {
    min-height: 300px;
}

.buttonBox{
    background-color: #1187cf;
    border-radius: 0.25rem;
    color:white;
    border: none;
    height: 32px;
}

.loginBox{position: absolute; top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%); max-width: 500px; background-color: #F5F5F5;}

.tab-content{display: none;}

.tab-content.selected{display: flex;}

.DESC::after {
    content: "▲";
    cursor: pointer;
}
.ASC::after {
    content: "▼";
    cursor: pointer;
}

.DESC, .ASC, .ORDER{
    cursor: pointer;
}

.profitChart{margin-top:45px;margin-left:10px;}

table tr td {
	overflow:hidden;
	text-overflow: ellipsis; 
	white-space: nowrap;
	max-width: 150px;
}


#chatCommentBox{margin:auto;align-content:baseline;}
.sendBox{resize:none;}
.contentBox{border:0.05rem solid lightgray;border-radius:0.5rem;flex-basis: fit-content;}
.contentAdminBox{border-radius:0.5rem;flex-basis: fit-content;}
.idBox{font-size: 1rem;font-weight: bold;}
.chatDate{flex-basis:fit-content;align-self:self-end;font-size: 0.8rem;}
#reciverInput{border:1px solid silver;}
#commentInput{border:1px solid silver;}
.nav-link {
    color: #8391a2;
    padding-left: 2rem;
    font-size: 1.2rem;
}
.nav-link:hover{
    color:#bccee4;
}
.active,  .nav-link:focus{
    color:#fff;
}

.text-uppercase{
    color: #6c757d;
}

.tablestyle{
	
  border: 1px solid #ffebb5; 
  background-color: #ffebb5; 
  border-radius: 16px;
  width: 160px; height: 160px;

}